
body{
  font-family: Verdana, Geneva, Arial, sans-serif;
  font-size: small;
  background-color: #9dc9ff;
  margin-left: 20%;
  margin-right: 20%;
  border: 2px solid black;
  padding: 10px 10px 10px 10px;
  }

h1, h2 {
  color: #cc6600;
}

h1 {
  font-size: 220%;
  border-bottom: 1px solid black;
  }

h2 {
  font-size: 130%;
  }

p, a {
  color: maroon;
  }

p {
  font-weight: bold;
}

p.cursive {
  font-family: cursive;
}

p.fantasy {
  font-family: fantasy;
}

em {
  text-decoration: line-through overline underline;
}

ul {
  color: green
}

.cedarvillef{
  font-family: "Cedarville Cursive";
}

#picture {
  width: 800px;
  height: 450px;
}
