
body{
  font-family: Verdana, Geneva, Arial, sans-serif;
  font-size: small;
  background-color: #9dc9ff;
  }

h1, h2 {
  color: #cc6600;
}

h1 {
  font-size: 220%;
  border-bottom: 1px solid black;
  }

h2 {
  font-size: 130%;
  }

p, a {
  color: maroon;
  }

a {
  text-decoration: none;

p {
  font-weight: bold;
}

p.cursive {
  font-family: cursive;
}

p.fantasy {
  font-family: fantasy;
}

em {
  text-decoration: line-through overline underline;
}

ul {
  color: green
}

.cedarvillef{
  font-family: "Cedarville Cursive";
}


div#picture {
    display: flex;
    justify-content: center;
    align-items: center;
    }
div#picture img {
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
}
div#float {
  float: right;
  border: dashed medium black;
  padding: 3px;
  margin: 20px;
  background-color: #9fcfff;
  border-radius: 15px;
  width: 400px;
}
.picturefloat {
  float: right;
  }
